body{
    background-color: antiquewhite;
}

.container {
    display: block;
}

.card{
    display: inline-block;
    border: 2px solid black;
    width: 400px;
    height: 150px;
    padding: 10px;
    margin: 10px;
    background-color: aliceblue;
    color: brown;
    font-weight: 600;
}
.card p{
    margin-left: 94px;
}
.button{
    margin: 10px;
    margin-left: 600px;
    margin-top: 100px;
}
button{
    color: black;
    background-color:lightsalmon;
    font-size:20px;
    padding: 10px;
    border-radius: 12%;
}
button:hover{
    cursor: pointer;
    background-color:blue;
}

.form{
    margin: auto;   
    width :100%;
}
.form2{
    display: inline-block;
    margin-left: 14px;
}